.about-background {
    background-image: linear-gradient(180deg, #27ae5f38, #FFF, #FFF);

    .about-page{
        margin: 0 auto;
        padding: 160px 24px 96px;
        margin: 0 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 150px;

        .about-intro {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 25px;

            .ai-title {
                width: 80%;
                margin: 0;
                color: #131B20;
                font-size: 64px;
                font-weight: 600;
                line-height: 1.1142857142857143;
                letter-spacing: -0.2px;
                font-family: "Inter", "sans-serif";
                align-self: center;
                text-align: center;

                span {
                    margin: 0;
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 1.1142857142857143;
                    letter-spacing: -0.2px;
                    font-family: "Inter", "sans-serif";
                    color: #27ae60;
                }
            }

            .ai-summary {
                width: 80%;
                margin: 0;
                font-weight: 400;
                font-size: 15px;
                font-family: "Inter", "sans-serif";
                line-height: 1.5;
                text-align: center;
                color: #4C5967;
                align-self: center;
            }

            .ai-login {
                width: 80%;
                margin: 0;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                .ai-button{
                    font-family: "Inter", "sans-serif";
                    font-weight: 500;
                    font-size: 1.2rem;

                    width: 150px;
                    height: 40px;

                    background-color: #c2fbd7;
                    border-radius: 100px;
                    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
                    color: green;
                    cursor: pointer;
                    display: inline-block;
                    padding: 7px 20px;
                    text-align: center;
                    text-decoration: none;
                    transition: all 250ms;
                    border: 0;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;

                    &:hover {
                        box-shadow: 
                            rgba(44,187,99,.35) 0 -25px 18px -14px inset,
                            rgba(44,187,99,.25) 0 1px 2px,
                            rgba(44,187,99,.25) 0 2px 4px,
                            rgba(44,187,99,.25) 0 4px 8px,
                            rgba(44,187,99,.25) 0 8px 16px,
                            rgba(44,187,99,.25) 0 16px 32px;
                        transform: scale(1.05) ;
                    }
                }
            }
        }

        .demo-image {
            width: 100%;
            
            img {
                width: 100%;
                background-size: cover;
                border-radius: 10px;
                outline: 1px solid;
                outline-color: rgba(191, 204, 217, 0.5);
                box-shadow: 0 0 12px 8px rgba(156, 204, 252, 0.2);
            }
        }

        .about-function {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .af-feature {
                flex-basis: 50%;
                flex-grow: 0;
                max-width: 50%;
                padding-right: 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .aff-description {
                    h2 {
                        padding: 0;
                        margin: 0;
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 1.5;
                        font-family: "Inter", "sans-serif";
                        color: #131B20;
                    }

                    p {
                        padding: 10px 0px 0px 0px;
                        font-weight: 400;
                        font-size: 15px;
                        font-family: "Inter", "sans-serif";
                        line-height: 1.5;
                        color: #4C5967;
                    }
                }

                .aff-child {
                    text-size-adjust: 100%;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    outline: 0;
                    margin: 0;
                    cursor: pointer;
                    user-select: none;
                    vertical-align: middle;
                    text-decoration: none;
                    font-family: "Inter","sans-serif";
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 1.75;
                    min-width: 64px;
                    box-sizing: border-box;
                    text-transform: none;
                    color: #131B20;
                    overflow: hidden;
                    border-radius: 10px;
                    border: 1px solid rgba(214, 226, 235, 0.8);
                    box-shadow: none;
                    transition: background-color,border,80ms ease;
                    padding: 20px;
                    height: fit-content;
                    width: 100%;
                    background: none;
                    border-color: #D6E2EB;

                    &:hover {
                        background-color: rgba(39, 174, 96, 0.5);
                        border-color: #56d84a;
                        box-shadow: 0 0 24px #cffdce;
                    }

                    .affc-logo {
                        width: 25px;
                        height: 25px;

                        svg {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .affc-content {
                        display: flex;
                        flex-direction: column;
                        align-items: left;

                        p {
                            margin: 3px 0 3px 0;
                            font-weight: 400;
                            font-size: 14px;
                            font-family: "Inter", "sans-serif";
                            line-height: 1.43;
                            color: #4C5967;
                            text-align: left;

                            span {
                                font-weight: 700;
                                font-size: 15px;
                            }
                        }

                        a {
                            margin: 3px 0 3px 0;
                            font-size: 14px;
                            font-family: "Inter","sans-serif";
                            line-height: 1.43;
                            color: #064079;
                            font-weight: 500;
                            position: relative;
                            text-decoration: none;
                            display: inline-flex;
                            align-items: center;

                            svg {
                                cursor: pointer;
                                text-align: left;
                                line-height: 1.43;
                                color: #064079;
                                font-weight: 700;
                                box-sizing: inherit;
                                user-select: none;
                                width: 1em;
                                height: 1em;
                                display: inline-block;
                                fill: currentColor;
                                flex-shrink: 0;
                                font-size: 1.25rem;
                                margin-top: 1px;
                                margin-left: 2px;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }

            .af-image {
                flex-basis: 50%;
                flex-grow: 0;
                max-width: 50%;
                padding-left: 25px;
                
                .afi-content {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    border: 1px solid rgba(214, 226, 235, 0.8);
                    background: linear-gradient(to bottom, #FFF, #FBFCFE);
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    .afi-image {
                        display: block;
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size:contain;
                        width: 420px;
                        height: 500px;
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }

    .about-participants {
        border-top: 1px solid rgba(214, 226, 235, 0.8);
        padding: 96px 24px 96px;
        margin: 0 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 100px;

        .ap-title {
            h2 {
                text-align: center;
                padding: 0;
                margin: 0;
                font-size: 36px;
                font-weight: 500;
                line-height: 1.5;
                font-family: "Inter", "sans-serif";
                color: #131B20;
            }

            p {
                padding: 10px 0px 0px 0px;
                font-weight: 400;
                font-size: 15px;
                font-family: "Inter", "sans-serif";
                line-height: 1.5;
                color: #4C5967;
                max-width: 700px;
                text-align: center;
            }
        }
        
        .ap-content {
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            gap: 15px;

            .ap-author {
                border: 1px solid rgba(214, 226, 235, 0.8);
                border-radius: 10px;
                padding: 20px;
                background: #FBFCFE; 
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    font-weight: 400;
                    font-size: 14px;
                    font-family: "Inter", "sans-serif";
                    line-height: 1.5;
                    color: #4C5967;
                    max-width: 700px;
                }

                .apa-name {
                    display: flex;

                    .apaa {
                        font-weight: 700;
                        font-size: 14px;
                        font-family: "Inter", "sans-serif";
                        line-height: 1.5;
                        color: #4C5967;
                        max-width: 700px;
                        margin: auto auto auto 10px;
                    }

                    .appa-image {
                        display: block;
                        margin: 0;
                        background-repeat: no-repeat;
                        background-size:contain;
                        width: 40px;
                        height: 40px;
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }

    .about-article {
        width: 100%;
        padding: 96px 24px 96px;
        gap: 100px;

        
        color: white;
        background-color: #06090a;

        .aa-container {
            width: 100%;
            gap: 48px;
            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .aac-title {
                h2 {
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 1.5;
                    font-family: "Inter", "sans-serif";
                    color: white;
                }

                p {
                    padding: 10px 0px 0px 0px;
                    font-weight: 400;
                    font-size: 15px;
                    font-family: "Inter", "sans-serif";
                    line-height: 1.5;
                    color: #94A6B8;
                    max-width: 700px;
                    text-align: center;
                }
            }

            .aac-content {
                width: 80%;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;

                .aacc-page {
                    flex-basis: 30%;
                    flex-grow: 0;
                    width: 30%;
                    margin-left: 0;

                    .aaccp-image {
                        width: 100%;
                        border-radius: 10px;
                        border: 1px solid rgba(214, 226, 235, 0.8);
                        aspect-ratio: 1 / 1.3;
                        display: block;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .aacc-summary {
                    flex-basis: 60%;
                    flex-grow: 0;
                    width: 60%;
                    padding-left: 25px;
                    margin-right: 0;

                    h2 {
                        padding: 0;
                        margin: 0;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 2;
                        font-family: "Inter", "sans-serif";
                        color: white;
                    }

                    p {
                        white-space: pre-wrap;
                        padding: 5px 0px 0px 0px;
                        font-weight: 400;
                        font-size: 15px;
                        font-family: "Inter", "sans-serif";
                        line-height: 2;
                        color: #94A6B8;

                        span {
                            color: white;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .about-footer {
        border-top: 1px solid rgba(214, 226, 235, 0.8);
        padding: 80px 0 50px;
        margin: 0 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 100px;

        .af-copyright {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            font-weight: 400;
            font-size: 14px;
            font-family: "Inter", "sans-serif";
            line-height: 1.5;
            color: #94A6B8;

            .afc-logo {
                display: flex;

                .afcl-image {
                    display: block;
                    margin: 0 12px;
                    background-repeat: no-repeat;
                    background-size:contain;
                    width: 40px;
                    height: 40px;
                    mix-blend-mode: multiply;
                }
            }
        }
    }
}